/*-----------GENERAL-----------*/
html, body {
	box-sizing: border-box;
	background-color: #111;
	overflow: hidden;
	font-weight: 400;
	color: #eee;
	font-size: 14px;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-weight: inherit;
}

a {
	display: inline;
	text-decoration: none;
	color: inherit;
}

a.intended-link {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

::-moz-selection {
	color: #222;
	background: #eee;
}

::selection {
	color: #222;
	background: #eee;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	background-color: #eee;
}

/*-----------DROP ZONE-----------*/
#drop {
	position: relative;
	width: 400px;
	height: 200px;
	top: calc(50% - 100px);
	margin: auto;
	background-color: #222;
	text-align: center;
	padding-top: calc(100px - 24px / 2);
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 20px;
	border-radius: 2px;
}

/*-----------STATIC-----------*/
#grid {
	display: flex;
	width: 100%;
	height: 100%;
}

#body {
	display: block;
	vertical-align: top;
	width: 100%;
	height: 100%;
}

#side {
	display: none;
	vertical-align: top;
	width: 250px;
	height: 100%;
	background-color: #222;
	overflow-y: auto;
	padding: 0px 20px 20px 20px;
}

#clock,
#timer,
#count {
	position: absolute;
	width: 80px;
	height: 30px;
	right: 30px;
	bottom: 25px;
	background-color: #222;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
}

#timer {
	right: 120px;
}

#count {
	right: 210px;
}

#clock-time,
#timer-time,
#percent {
	font-weight: 400;
}

.divider {
	width: 100%;
	height: 4px;
	margin-bottom: 30px;
	margin-top: 30px;
}

/*-----------DYNAMIC - SIDEBAR-----------*/
.bar-slide,
.bar-select {
	background-color: #222;
	font-weight: 400;
	border-radius: 2px;
}

.bar-section {
	background-color: none;
	font-weight: 700;
	color: #666;
	font-size: 20px;
	margin-top: 20px;
}

.bar-slide:hover {
	background-color: #eee;
	color: #222;
}

#side > * > a {
	display: block;
}

#side > * > a:hover {
	text-decoration: none;
}

.bar-inner,
.bar-section {
	padding: 8px;
	width: 100%;
	margin-bottom: 10px;
}

.bar-number {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-left: 10px;
}

.bar-select {
	background-color: #eee;
	color: #222;
}

/*-----------DYNAMIC - CONTENT-----------*/
#content {
	width: 100%;
	height: 100%;
	padding: 60px;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	overflow-y: auto;
}

.content-title {
	font-size: 60px;
}

.content-big-title {
	font-size: 100px;
}

.content-text {
	font-size: 40px;
	line-height: 60px;
}

.content-indent {
	display: block;
	padding-left: 20px;
}

.content-indent:before{
	content: '\2022\0000a0';
}

.notes {
	position: absolute;
	width: calc(100% - 250px - 30px - 300px);
	max-height: 200px;
	bottom: 25px;
	left: calc(250px + 30px);
	background-color: #222;
	padding: 40px;
	overflow-y: auto;
	text-align: left;
	border-radius: 2px;
}